<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins"
      rel="stylesheet"
    />
    <script src="Interior.js"></script>
    <link rel="stylesheet" href="Interior.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Castle Designers.</title>
    <link rel="icon" href="new2.png" type="image" />
    <script>
	function c(){
        if (confirm("Leaving so soon?")) {
          window.close();
          return 0;
        }
      }
    </script>
  </head>
  <body>
    <form action="loginbutton.html" method="post">
<hr />
      <h2>|CA𝕊TLΣ DE𝕊IGNΣR𝕊|<br /></h2>
      <h4>------BE$T IN TOWN------</h4>
      <div class="main">
        <h1>Designing Dreams...</h1>
        <p>Luxury in each detail.</p>
      </div>
<ul>
   <li><a href="LivingRoom.html">YOUR CHOICES</a></li>
    <li><a>LIVING ROOM</a>
	<ul>
	<li><a href="#">READYMADE DESIGNS</a></li>
	<li><a href="LivingRoom.html">CUSTOMISED DESIGNS</a></li>
	</ul>
	</li>
 <li id="kit"><a href="loginbutton.html">KITCHEN</a>
	<ul>
	<li><a href="#">READYMADE DESIGNS</a></li>
	<li><a href="KitchenRoom.html">CUSTOMISED DESIGNS</a></li>
	</ul>
	</li>
<li id="bed"><a href="loginbutton.html">BEDROOM</a>
	<ul>
	<li><a href="#">READYMADE DESIGNS</a></li>
	<li><a href="BedRoom.html">CUSTOMISED DESIGNS</a></li>
	</ul>
	</li>
<li id="dine"><a href="loginbutton.html">DINING</a></li>
<li id="verandah"><a href="loginbutton.html">VERANDAH</a></li>
<li onclick="contactus()"><a href="loginbutton.html">CONTACT US</a></li>
 </ul>
      <button value="Log In" id="btn1">LOG IN</button>
      <button value="signup" id="btn2" onclick="signup()"><a href="Signup.html">SIGN UP</a></button>
      <button value="info" id="btn3" onclick="aboutus()"><a href="About.html">About Us</a></button>
    </form>
<script>
alert("<%-message%>");
</script>
  </body>
</html>
